
<div class="feature">
    <div class="feature-group">
        <div class="feature-box watchmale">
            <div class="feature-text">
                <h2>Kính mắt nam</h2>
                <a href="~/san-pham">Mua ngay</a>
            </div>

        </div>

        <div class="feature-box watchfemale">
            <div class="feature-text">
                <h2>Kính mắt nữ</h2>
                <a href="~/san-pham">Mua ngay</a>
            </div>
        </div>
    </div>


    <div class="feature-group">
        <div class="feature-box albertmale">
            <div class="feature-text">
                <h2>tròng kính</h2>
                <a href="~/san-pham">Mua ngay</a>
            </div>
        </div>

        <div class="feature-box albertfemale">
            <div class="feature-text">
                <h2>Gọng kính</h2>
                <a href="~/san-pham">Mua ngay</a>
            </div>
        </div>
    </div>


</div>